.card {
  margin: 20px 0 0 0;
}

.card__title {
  text-align: center;
}

.card__info {
  margin: 10px 0 0 0;
}

.card-info {

}

.card-info__count {
  float: left;

  width: 110px;
}

.card-info__label-count {
  float: left;
  display: block;
}

.card-info__count-cards {
  float: right;
  display: block;
}

.card__current-task {
  float: right;
}

.card-info__form {

}

.card-info__label {

}

.card-info__input {
  width: 40px;
}

.card-info__submit {

}

.card__text-task {

}

.card__count-task {

}

.card__inner {
  margin: 20px 0 0 0;
}

.card__img-container {
  float: left;

  overflow: hidden;

  width: 600px;
  height: 100px;

  margin: 0 auto;

  border: 1px solid #000;
  border-radius: 3px;
}

.card__img {
  display: block;

  /* min-width: 700px; */

  /* margin: -104px 0 0 -73px; */
}

.card__btn-container {
  float: right;
}

.card__number {
  display: block;

  margin: 5px 0 0 17px;

  font-size: 42px;

  letter-spacing: 3px;
}

.card__link {
  margin: 0 0 10px 0;
}

.card--warning {
  font-weight: bold;

  color: #da5600;
}

.card-btn {
  display: block;

  width: 120px;
  height: 30px;

  border: 1px solid black;
  border-radius: 3px;

  line-height: 30px;
  text-align: center;
}
