.menu {

}

.menu li {
  display: inline-block;

  padding: 3px 5px;

  border: 1px solid transparent;

  letter-spacing: normal;
}

.menu li a {

}

.active {
  border-bottom: 1px solid green;

  color: green;
}
