.settings-photo-title {

}

.settings-photo-img-container {
  position: relative;
  overflow: hidden;

  width: 768px;
  height: 500px;

  margin: 0 auto;
}

.settings-photo-img-container__img {
  display: block;

  max-width: initial;

  margin: -63px 0 0 -1065px;
}

.settings-photo-img-container__border {
  position: absolute;
  top: 340px;
  left: 50px;
  z-index: 100;

  box-sizing: content-box;
  width: 650px;
  height: 110px;

  border: 2px solid red;
}
